---
#----Deployment----
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deployment
  labels: 
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: s21laneryel/payment-service:v2.0
          ports:
            - containerPort: 8084
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: postgres-username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: postgres-password
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-host
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-port 
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: postgres-payments-db

---
#----Service----
apiVersion: v1
kind: Service
metadata:
  name: payment-service 
spec:
  selector:
    app: payment
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8084               